:root {
    --colorone: #113558;
    --colortwo: #c90a2a;
    --colorthree: #3ebead;
    --colorfour: #e333e9;
    --colorfive: rgb(26, 230, 26);
}

::selection {
    background-color: var(--colortwo);
    color: var(--colorone);
}
header {
    display: flex inline;
    color: rgb(26, 230, 26);
}

h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 50px;
}

nav {
    padding-top: 15px;
    float: right;
    font-size: 20px;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}
/* added a hover effect to the nav*/
nav ul li:hover {
    box-shadow: inset 0px 0px 10px var(--colorfive), 0 0 20px var(--colorfive);
}
/*conic gradient added a textured background*/
body {
    background-image: radial-gradient(green, blue, rgb(6, 7, 6));
    color: var(--colorfour);
    margin: 10px;
}

h2 {
    font-size: 30px;
    float: left;
    padding:2px;
    margin-left: 2px;
    color: var(--colorthree);
}

#AboutMe {
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.himg {
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-left: 20px;
}

.me {
    padding: 20px;
}
/*added hover effect to my picture so users would know it is a link to my linkedin*/
.himg:hover {
    box-shadow: inset 0px 0px 10px var(--colorfive), 0 0 20px var(--colorfive);
}

#MyWork {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 10%;
   }

.work {
    flex: 1 0 0%;
}

.largework {
    flex: 1 0 100%;
}

.links {
    position: relative;
    text-align:center;
    margin: -25px 25% 2px 25%;
    background-color: var(--colorfive);
    color: var(--colorone);
    border: 2px solid var(--colortwo);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.examples {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    color: var(--colorfour);
    border: 8px solid var(--colortwo);
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    margin-top: 20px;
}

h3 {
    position: relative;
    text-align:center;
    margin:-18px 60px 2px 60px;
    padding: 2px;
    background-color: var(--colorone);
    color: var(--colorfour);
    border: 2px solid var(--colorthree);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.examples:hover,
.examples:hover h3 {
    box-shadow: inset 0px 0px 10px var(--colorfive), 0 0 20px var(--colorfive);
}

#ContactMe {
    font-weight:bold;
    list-style-type: none;
}

#ContactMe ul li {
    display:inline-block;
    padding: 20px;
    font-size: 20px;
}

footer {
    text-align:center;
    padding: 2px;
    color: var(--colortwo)
}

h4 {
    font-size: 38px;
}
